<div class="stats">
  
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  
  
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  
</div>

