<table class="table table-bordered table-striped">
        <thead>
          <tr>
            <td class="garamond" colspan="2" style="font-size:20px;">Most Recent Posts</td>
          </tr>
        </thead>
        <tbody>
          
          <% @user.posts.reverse_each do |post| %>
          <tr>
            <td><%=link_to post.title, post_path(post.id) %></td>
            <td><%= remove_time(post)%></td>
          </tr>
          <% end %>
        </tbody>
      </table>