
      <tr>
        <td>
          <%= link_to user, class: "thumb-link" do%>
          <%= image_tag user.avatar(:thumb), class: "img-circle thumb" %>
          <%end%>
        </td>
        <td>
          <%= user.full_name %>
        </td>
        <% if @following ==true %>
        <td>
          <% if @user == current_user %>
              <%= link_to 'UnFollow', relationship_path(current_user.active_relationships.find_by(followed_id: user.id)),
                  method: :delete, class: "btn btn-md btn-warning" %>
          <% end %>
          
        </td>
        <% end %>
    </tr>
