<div class="container">
  <h1 class="text-center"><%=@user.email%> Profile Page</h1>
  
<p>Will have a profile photo here, perhaps latest entry.</p>

<%=link_to 'blog entries', posts_path %>
  
  
</div>
