<section class="container">
  
  
  <div class="row">
    <div class="col-sm-6 col-xs-12">
<%=image_tag @user.avatar(:medium), class: "profile img-circle img-responsive" %>
    </div>
    <div class="col-sm-6 col-xs-12">
      <h1 class="profile-name"><%=@user.full_name%></h1>
      <div id ="following"> <!-- for Ajax-->
<%=render 'shared/follow' %>
      </div>
    </div>
    <div class="col-xs-12">
      <% unless @posts.empty? %>
        <%=render 'shared/table' %>
      <% else %>
        <p class="text-center">This user does not have any posts to display</p>
      <% end %>
    </div>
  </div>
  
</section>
