<%posts.each do |post| %>
  <article class="container post">
    <h1 class="header-link"><strong><%= link_to post.title, user_post_path(post.user, post) %></strong></h1>
    <p><%= truncate(post.content, length: 240, omission: "..." , escape: false) %></p>
   </article>   
   <%= render 'posts/info', post: post %>
<% end %>