<%posts.each do |post| %>
   <article class="container post">
     <h1><strong><%= link_to post.title, post_path(post.id) %></strong></h1>
     <%= post.content.html_safe %>
   </article>
   <%= render 'posts/info', post: post %>
<% end %>

