<table class="table table-bordered table-striped recent-posts">
        <thead>
          <tr>
            <td colspan="2" style="font-size:20px;">Recent Posts</td>
          </tr>
        </thead>
        <tbody>
          
            <% @posts.each do |post| %>
              <tr>
                <td><%=link_to post.title, post_path(post.id), title: content_preview(strip_tags(post.content)), data: { toggle: 'tooltip', placement: "left" } %></td>
                <td><%= remove_time(post)%></td>
              </tr>
          
            <% end %>
          
        </tbody>
        
</table>
<%= will_paginate @posts, param_name: 'posts_page', page_links: false, class: "digg_pagination" %>
