<div class="fluid-container"  style="background-color: #fff;">
  <%=image_tag "tdd_blog_logo.png", class: "img-responsive logo" %>
  <h3 class="text-center">The blog network created using a combination of test-driven and behaviorial driven development.</h3>
</div>
<%=render 'shared/posts', posts: @posts %>
