<div class="fluid-container" id="hero">
  <%=image_tag "tdd_blog_logo.png", class: "img-responsive logo" %>
  <h3 class="text-center">A community of web developers who blog</h3>
</div>
<%=render 'shared/posts', posts: @posts %>
