
<% if can? :read, post %>
   <h1><strong><%= link_to post.title, user_post_path(post.user, post) %></strong></h1>
   <%= post.content.html_safe %>
<% end %>
<% if can?:edit, post %>
   <%= link_to "Edit", edit_post_path(post) %>
<% end %>
