
<% if can? :read, post %>
   <h2><strong><%= link_to post.title, post_path(post.id) %></strong></h2>
   <%= post.content.html_safe %>
<% end %>
<% if can?:edit, post %>
   <%= link_to "Edit", edit_post_path(post) %>
<% end %>
