/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *
 *
 * */


$font-size-base: 18px !default;
$line-height-base: 1.7 !default;
$link-hover-decoration: none;
$font-family-sans-serif: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: "Noto Serif", "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;



 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "navbar.scss";
 @import "pagination.scss";
 @import "welcome.scss";
 @import "comments.scss";
 @import "posts.scss";
 @import "users.scss";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";
 


body {
  padding-top: 50px;
  background-color: #f1f1f1;
}


.post {
  margin-top: 80px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.notice {
    background-color: green;
    color: white;
    text-align: center;
    padding: 5px;
}

.alert {
    background-color: red;
    color: white;
    text-align: center;
    padding: 5px;
}

.btn {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}




