$font-size-base: 16px !default;
$line-height-base: 1.7 !default;
$link-hover-decoration: none;
 
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

body {
  padding-top: 50px;
  font-weight: 400;
  background: #ebebeb;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notice {
  background-color: green;
  color: white;
  text-align: center;
  padding: 5px;
}

.alert {
  background-color: red;
  color: white;
  text-align: center;
  padding: 5px;
}

img {
  margin: 0 auto;
}

@import "navbar.scss";
@import "pagination.scss";
@import "welcome.scss";
@import "comments.scss";
@import "posts.scss";
@import "users.scss";
