// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.comment {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom:100px;
   
}

.comment-image {
    
    float:left;
}

.comment-info {
    font-family: 'EB Garamond', "Helvetica Neue",Helvetica,Arial,sans-serif;
    
    
}

.comment-info a {
    color: black;
}

.comment-name {
    
    float:left;
    
    font-size: 1.5em;
}

.comment-created {
    float:left;
}

.user-comment {
    float:left;
    clear: left;
    font-size:1.25em;
}

hr {
    border-top: 1px solid rgba(51, 51, 51, 0.1);
    padding-top: 50px;
}


@media only screen and (min-width : 992px) {

  .new-comment {
    padding-left: 5%;
    padding-right: 5%;
  }

}