.navbar-default .navbar-nav > li > a {

    color: #333333;
    text-shadow: 1px 1px rgba(0,0,0,0.1);
    font-family: "Noto Sans";
    border-right: 1px solid rgba(0,0,0,0.8);
    /* Transparent borders so transition will function correctly */
    border-bottom: 1px solid rgba(0,0,0,0);
    border-top: 1px solid rgba(0,0,0,0);
    font-weight: 500;
}


.navbar-default .navbar-nav > li > a:hover{
  transition: border-bottom .8s;
  transition: border-top .8s;
  transition: color .8s;
  border-bottom: 1px solid rgba(0,0,0,0.8);
  border-top: 1px solid rgba(0,0,0,0.8);
  color: #337ab7
}

.left-border {
    border-left: 1px solid rgba(0,0,0,0.8);
}

.navbar-default .navbar-nav>li>a.btn-primary:hover {
    background-color: #286090;;
    border-color: #204d74;;
   
}


.navbar-default .navbar-nav>li>a.btn-success:hover {
    background-color: #398439;
    border-color: #255625;
    
}

.navbar-default .navbar-nav>li>a.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
    
    
}

.navbar-default .navbar-nav>li>a.btn:hover {
    
    color:white;
    transition: .7s;
}

.navbar {
    border-bottom: 1px solid rgba(0,0,0,0.4);
-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);


}




.navbar-default {
    background-color: #FFFFFF;
}

#navbar-contain {
    background-color: #ffffff;
    border:none;
}

@media (max-width: 320px) {
    .navbar-brand {
        width: 70%;
    }
}
