// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  background-color: #fff;
  
 
}



.post h1{
  font-size: 1.75em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article {
    padding-bottom: 2%;
    margin-top: 30px;
}

article a{
  color: black;
}



.post-info{
    color:rgba(51,51,51,0.7);
    background-color: #f7f7f7;
    padding: 1% 1%;
    margin-top: 0;
    margin-bottom: 50px;
    font-size:1em;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.info-pad {
    padding-left:1%;
    padding-right: 1%;
    color: #333;
}

.info-pad:hover {
  text-decoration: none;
  color: #333;
}

.info-edit {
  font-style: italic;
}


.thumb-link:hover{
    text-decoration:none;
   
}

.thumb {
    transition: .5s;
    border: 2px solid black;
}

.thumb:hover {
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.75);

}

.notosans {
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.code {
  font-family: monospace;
  background-color: black;
  color: white;
}

/* Colors for displayed posts */
.wysiwyg-color-black {color: black;}
.wysiwyg-color-silver {color: silver;}
.wysiwyg-color-gray {color: gray;}
.wysiwyg-color-white {color: white;}
.wysiwyg-color-maroon {color: maroon;}
.wysiwyg-color-red {color: red;}
.wysiwyg-color-purple {color: purple;}
.wysiwyg-color-fuchsia {color: fuchsia;}
.wysiwyg-color-green {color: green;}
.wysiwyg-color-lime {color: lime;}
.wysiwyg-color-olive {color: olive;}
.wysiwyg-color-yellow {color: yellow;}
.wysiwyg-color-navy {color: navy;}
.wysiwyg-color-blue {color: blue;}
.wysiwyg-color-teal {color: teal;}
.wysiwyg-color-aqua {color: aqua;}
.wysiwyg-color-orange {color: orange;}



/* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      
      /* size of the new-post content box */
      #post_content {
        height: 500px;
      }
      
      
      .post-info {
        font-size: 1.25em;
      }

    }

   /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
      .post {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 1.25em;
      }
      
      .post-info {
        padding-left: 5%;
        padding-right: 5%;
        font-size:1.5em;
      }
      
      .post h1{
        font-size: 2em;
        
      }
      
      
    }
