// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
    margin-bottom:5%;
    border: 2px solid black;
    border-radius:5%;
}

#submit-edit {
    margin-top:2%;
}

.container h1 {
    font-family: 'EB Garamond';
    padding-bottom: 20px;
}

section {
    margin-top:80px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.table{
    margin-bottom: 0;
}


.log-in {
    width: 40%;
    margin: 0 auto;
}