// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
    margin-bottom:5%;
    border: 1px solid rgba(0,0,0,0.5);
    
}

#submit-edit {
    margin-top:2%;
}

.container h1 {
    font-family: 'EB Garamond';
    padding-bottom: 20px;
}

section {
    margin-top:80px;
    padding-bottom: 10px;
    padding-top: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

.table{
    margin-bottom: 0;
}

.edit-profile-link {
    margin-top: 20px;
    
    
}

.log-in {
    width: 40%;
    margin: 0 auto;
}

.users-follow {
    list-style-type: none;
    margin: 1% auto;
}

.users-follow li{
    margin-top:10px;
}

.user-index {
    margin-top:20px;
}

.user-index-link {
    padding-top:20px;
}

.search-form {
margin: 10px auto;
    
}




.profile-list {
    list-style-type:none;
    float:right;
}

