// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
    margin: 0 auto;
    padding-top: 12%;
}

.fluid-container {
  
  min-height: 100vh;
}

.fluid-container h3 {
   
}

#hero {
    background-color: white;
   
}


#community {
    font-size:4em;
    font-weight: 700;
    font-family: "Noto Sans";
    transition: 3s ease;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
}

#words {
    text-decoration: none;
    -moz-transition: text-decoration 5s ease;
    -webkit-transition: text-decoration 5s ease;
    transition: text-decoration 5s ease;
    font-weight: 900;
    
}

#blog {
    font-family: "Noto Sans";
    font-weight: 700;
}