// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
    margin: 0 auto;
    padding-top: 12%;
}

.fluid-container {
  
  min-height: 100vh;
}

.fluid-container h3 {
   
}

#hero {
    background-color: rgba(241,241,241,0.5);
   
}